#add-folder {
  margin-top: 10px;
  margin-bottom: 150px;
  min-height: 2.4em;
  font-size: 18px;
  border-radius: 5px;
  border-width: 1.5px;
  background-color: rgb(206, 206, 253);
  min-width: 30%;
}

#add-folder:hover {
  background-color: rgb(180, 180, 230); 
}

@media all and (max-width: 600px) {
  #add-folder {
    height: 2.0em;
  }
}