.note-page {
  box-sizing: border-box;
  padding: 15px;
  width: 70%;
  text-align: justify;
}

.note-content{
  box-sizing: border-box;
  width: 100%;
  padding: 5px 15px 0 8px;
  height: calc(100% - 135px);
  border: solid;
  border-width: 0.25px;
  border-color: rgba(0, 0, 0, 0.158);
  border-radius: 5px;
}

@media all and (max-width: 600px) {
  .note-page {
    width: 100%;
  }
}