html {
  background-color: rgba(128, 128, 128, 0.137);
  min-width: 300px;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

.main-section {
  box-sizing: border-box;
  display: flex;
  width: 90%;
  height: calc(100% - 150px);
}

@media all and (max-width: 600px) {
  main {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}
