html {
  background-color: rgba(128, 128, 128, 0.137);
  min-width: 300px;
}

main {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

@media all and (max-width: 600px) {
  main {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
