.folder-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 30%;
  height: calc(100% - 150px);
}

.folder-list a {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 20px;
  text-decoration: none;
  height: 1.5em;
  border: solid;
  border-width: 1px;
  width: 100%;
  border-top-width: 0px;
}