.folder-dropdown {
  display: none;
}

.dropdown-buttons {
  display: flex;
}

.dropdown-buttons button {
  margin: 10px;
  height: 2em;
  font-size: 16px;
  align-self: center;
  width: 50%;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.637);
}

#mobile-edit-folder {
  background-color: rgba(128, 128, 128, 0.116);
}

@media all and (max-width: 600px) {
  .folder-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 12px 0;  
    width: 100%;  
  }

  .folder-dropdown select {
    width: 100%;
    background-color: rgba(255, 255, 0, 0.199);
    height: 3em;
    font-size: 20px;
    padding-left: 50px;
  }

  #add-folder {
    align-self: center;
    width: 50%;
  }
}