.folder-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: calc(30% - 25px);
  height: calc(100% - 150px);
  margin-left: 25px;
  margin-top: 5px;
}

.folder-list a {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 20px;
  text-decoration: none;
  height: 1.5em;
  border: solid;
  border-width: 1px;
  width: 100%;
  border-top-width: 0px;
  background-color: rgba(255, 187, 0, 0.466);
  border-radius: 3px;
}

.folder-list a:hover {
  background-color: rgba(255, 187, 0, 0.815);
}

.folder-list a:nth-of-type(1) {
  border-top-width: 1px;
}

#add-folder {
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: 12px;
  width: 90%;
  border-radius: 5px;
  background-color: rgb(206, 206, 253);
}

#add-folder:hover {
  background-color: rgb(180, 180, 230); 
}

@media all and (max-width: 600px) {
  .folder-list {
    display: none;
  }
}