.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: black;
  position: relative;
}

.header a {
  text-decoration: none;
  font-size: 40px;
  color: white;
}

@media all and (max-width: 600px) {
  .header {
    min-height: 125px;
  }
}