.homepage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%
}

.homepage h2 {
  font-size: 40px;
  margin-top: 50px;
}

.homepage img {
  max-width: 500px;
  max-height: 500px;
  margin-top: 5%;
  opacity: 0.20;
}

@media all and (max-width: 600px) {
  .homepage {
    width: 100%;
  }

  .homepage h2 {
    font-size: 28px;
  }
}