.note-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 125px;
  border: solid;
  border-width: 1px;
  padding: 10px 55px 10px 35px;
  border-bottom-width: 0px;
  background-color: rgba(0, 170, 248, 0.507);
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.938);
  border-color: black;
  z-index: 0;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.note-preview a {
  box-sizing: border-box;
  color: rgb(59, 49, 100);
  width: calc(100% - 35px);
  height: 100%;
  position: absolute;
  margin-top: 4%;
}

.note-preview p {
  text-shadow: none;
  font-size: 14px;
  font-weight: normal;
  color: rgb(80, 80, 80);
  cursor: pointer;
}

.note-preview:hover {
  background-color: rgba(0, 170, 248, 0.781)
}

.note-preview button {
  align-self: flex-end;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  padding: 5px 0;
  box-shadow: 2px 2px gray;
  margin: 10px 0;
  z-index: 2;
}

.cancel-button {
  z-index: 2;
}