.note-list {
  box-sizing: border-box;
  height: calc(100% - 150px);
  width: 70%;
  overflow-y: scroll;
  padding: 15px 30px;
}

.note-list a:first-of-type {
  border-top-width: 1px;
}

@media all and (max-width: 600px) {
  .note-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
  }
}