@keyframes editing {
  0% {background-color: yellow;}
  50% {background-color: white;}
  100% {background-color: yellow;}
}

.folder-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: calc(30% - 25px);
  height: 100%;
  margin-left: 25px;
  margin-top: 5px;
  overflow-y: auto;
}

.folder-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: 20px;
  text-decoration: none;
  height: 35px;
  border: solid;
  border-width: 2px;
  width: 100%;
  border-bottom-width: 0px;
  background-color: rgba(255, 187, 0, 0.466);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.folder-list a:hover {
  background-color: rgba(255, 187, 0, 0.733);
}

.folder-list a:focus {
  background-color: rgba(255, 187, 0, 0.863);
}

[contenteditable] {
  outline: 0px;
}

.folder {
  display: flex;
  align-items: center;
  width: 100%;
}

.hidden {
  display: none;
}

.delete {
  height: 100%;
  border-width: 1px;
  background-color: red;
  width: 18px;
  padding: 0;
}

.animate {
  animation-name: editing;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.folder-list a:nth-of-type(1) {
  border-top-width: 1px;
}

@media all and (max-width: 600px) {
  .folder-list {
    display: none;
  }
}